@import url('https://fonts.googleapis.com/css?family=Corben:700');

*{
  text-align: center;
}

h1 {
	font-family: 'Corben', cursive;
	font-size: 6rem;
	color: black;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}


.our_services{
  padding: 30px 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* height: 480px; */
}

.card{
  padding: 10px 10px;
}


.our_services h1{
  font-size: 42px!important;
  /* font-weight: bold; */
  padding-bottom: 42px;
}


.our_services p{
  font-size: 20px;
  padding-bottom: 0px;
}

.imgsetting{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: lightslategrey;
}

.fa-truck{
  padding-top: 25%;
  height: 100px;
  width: 100px;
}

.fa-check{
  padding-top: 25%;
  height: 100px;
  width: 100px; 
}


.fa-cart-arrow-down{
  padding-top: 25%;
  height: 100px;
  width: 100px;
}

.grid1{
  width: 100%;
  height: 100vh!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover!important;
  background-image: url('../assets/mian_.jpg');
  background-size: 100% auto; 
}

.grid1 h1{
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 78px;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(10, 1, 1, 0.99)!important;
}

.grid1 p{
  font-weight: bold;
  text-shadow: 5px 0px 5px rgba(15, 1, 1, 0.99)!important;
}

.footer_desc{
  padding-top: 20px;
}

.btn{
  display: flex;
  flex-direction: column;
}

.btn-shop-now{
  float: right!important;
  min-width: 150px;
}

.btn-call-now{
  float: left!important;
  min-width: 150px;
}

.service_desc h2{
  padding-top: 25px;
  font-size: 24px;
  max-lines: 2;
}

.service_desc p{
  /* padding-top: 18px; */
  font-size: 18px;
}



.about-us-image{
  padding-top: 65px;
  width: 95%;
  height: auto;
}

.about_ous_2{
  /* float: right;
  align-content: right; */
  padding-top: 80px;
  padding-left: 60px;
  padding-bottom: 80px;
}

.about_ous_2 h5{
  /* float: right;
  align-content: right; */
  padding-top: 20px;
}
.about_ous_2 p{
  padding-top: 10px;
  text-align: justify;
}


.contact_us_from{
  padding-top: 60px;
  padding-left: 80px;
  padding-bottom: 40px;
}

.contact_us_from h1{
  font-size: 46px;
  padding-bottom: 40px;
}

.form-control-style{
  background: transparent!important;
  border: none!important;
  outline: none!important;
  border-bottom: 2px solid white!important;
}

.submit-btn{
  width: 100%!important;
  text-align: center!important;
}
.get-in-touch{
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.get-intouch-icon{
  padding-top: 75px;
}

.form-control{
  text-align: left;
}

.line {
  background-color: whitesmoke;
}


/*    responsive    */

@media(min-width: 992px){

}


@media(min-width: 768px) and (max-width: 991px){
  .about_ous_2{
    padding-top: 60px;
    padding-left: 0px!important;
    padding-bottom: 60px;
  }

  .about-us-image {
    padding-top: 140px;
    width: 100%;
  }
  .get-intouch-icon {

    padding-top: 125px;

}
.service_desc h2 {
  padding-top: 24px;
  font-size: 14px;
  font-weight: bold;
}

.service_desc p {
  font-size: 16px;
}

}


@media(min-width: 575px) and (max-width: 767px){
  .about-us-image {
    padding-top: 10px;
    width: 60%;
  }
  .about_ous_2{
    padding-top: 0;
    padding-left: 0px!important;
    padding-bottom: 10px;
  }
  .get-intouch-icon{
    width: 60%;
    padding-top: 20px;
  }

  .contact_us_from{
    padding-top: 60px;
    padding-left: 0px!important;
    padding-bottom: 40px;
    padding-bottom: 20px;
  }
}


@media(min-width: 480px) and (max-width: 574px){
  .btn-shop-now{
    padding: 5% 10%;
    float: none !important;
    min-width: 150px;
  }
  
  .btn-call-now{
    padding: 1% 10%;
    float: none !important;
    min-width: 150px;
  }

  .about-us-image{
    padding-top: 20px;
    width: 80%;
    height: auto;
    padding-bottom: 0px;
    padding-left: 17%;
  }

  
  .about_ous_2{
    padding-top: 0;
    padding-left: 0px!important;
    padding-bottom: 10px;
  }

  .get-intouch-icon{
    width: 60%;
    padding-top: 20px;
  }

  .contact_us_from{
    padding-top: 60px;
    padding-left: 0px!important;
    padding-bottom: 40px;
    padding-bottom: 20px;
  }

}


@media(max-width: 479px){

  .grid1{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/mian_.jpg');
     background-size: 100% auto; 
  }


  .grid1 h1{
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 40px!important;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(10, 1, 1, 0.99)!important;
  }
  
  .grid1 p{
    font-weight: bold;
    font-size: 18px!important;
    text-shadow: 5px 0px 5px rgba(15, 1, 1, 0.99)!important;
  }

  .imgsetting{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: lightslategrey;
  }


  .btn-shop-now{
    padding: 5% 10%;
    float: none !important;
    min-width: 150px;
  }
  
  .btn-call-now{
    padding: 1% 10%;
    float: none !important;
    min-width: 150px;
  }

  .our_services h1{
    font-size: 36px !important;
    padding-bottom: 5%;
  }

  .about_ous_2 h5 {
    padding-top: 5px;
  }

  .about_ous_2 p {
    padding-top: 0;
  }
  .service_desc h2{
    padding-top: 10px;
    font-size: 16px;
  }
  
  .service_desc p{
    font-size: 14px;
  }


  .our_services{
    padding: 30px 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* height: 480px; */
  }

  .our_services h1{
    padding-top: 30px;
    padding-bottom: 16px;
    font-size: 28px !important;
  }

  .about-us-image{
    padding-top: 20px;
    width: 80%;
    height: auto;
    padding-bottom: 0px;
    padding-left: 17%;
  }

  
  .about_ous_2{
    padding-top: 0;
    padding-left: 0px!important;
    padding-bottom: 10px;
  }

  .get-intouch-icon{
    width: 60%;
    padding-top: 20px;
  }

  .contact_us_from{
    padding-top: 60px;
    padding-left: 0px!important;
    padding-bottom: 40px;
    padding-bottom: 20px;
  }

}